.root {
  width: 100%;
  height: 100%;
  :global {
    .flex {
      display: flex;
    }
    .main {
      width: 100%;
      height: 100%;
      .sidebar {
        width: 60px;
        flex-direction: column;
        background-color: rgb(245, 247, 250);
        .logo {
          margin: 20px 0;
          padding: 0 10px;
          color: rgb(82, 88, 102);
          img {
            width: 32px;
          }
        }
        .add {
          padding: 0 10px;
          margin: 30px auto 10px;
        }
        .resource {
          ul {
            padding: 8px 10px;
            list-style: none;
            margin-bottom: 0;
            li {
              padding: 8px 0px;
            }
            a {
              padding: 8px 10px;
              &:hover {
                padding: 8px 10px;
                background-color: rgba(25, 137, 250, .05);
                border: 1px solid #afd4fa;
                border-radius: 4px;
              }
            }
            img {
              width: 16px;
            }
          }

        }
      }
      .right {
        flex: 1;
        flex-direction: column;
        .head {
          height: 61px;
          right: 0;
          ul{
            list-style: none;
            margin: 0;
            li{
              display: block;
              float: left;
              position: relative;
              a{
                height: 60px;
                line-height: 20px;
                padding: 20px 15px;
                font-size: 14px;
                display: block;
                position: relative;
                color: #666180;
              }
            }

          }
        }
        .content {
          position: relative;
          overflow: auto;
          flex-direction: row;
        }
      }
    }

  }
}

:global {
  body {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
  }
  #Main, #app {
    width: 100%;
    height: 100%;
  }
}
