.root :global {

  table.params-table {
    td {
      overflow: hidden;
      text-wrap: avoid;
      text-overflow: ellipsis;
    }
    td.edit {
      padding: 3px 12px;
      width: 144px;
      height: 26px;
      line-height: 26px;
      input {
        width: 120px;
        height: 26px;
      }
    }
  }

}
