// react: main
div(className=css.root)
  table.table.test
    tbody
      tr
        td
          a add node
          br
          small 节点添加在
        td
          span.label.label-primary 操作进行中
        td
          small 完成40%
          .progress.progress-mini
            .progress-bar(style='width:48%')
        td aa
      tr
        td
          a add node
          br
          small 节点添加在
        td
          span.label.label-primary active
        td aa
        td aa

