// react: main
div(className=css.root)
  table.table.test
    tbody
      tr
        td
          a add node
          br
          small 节点添加在
        td
          span.label.label-primary 操作进行中
        td
          small 完成40%
          .progress.progress-mini
            .progress-bar(style='width:48%')
        td aa
      tr
        td
          a add node
          br
          small 节点添加在
        td
          span.label.label-primary active
        td aa
        td aa

// react: test2
div(class=css.test2)
  .timeline
    .item
      .left
        .date 6:00 am
        .time: small 2 hour ago
      .content
        p: strong Meeting
        p Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the
    .item
      .left
        .date 6:00 am
        .time: small 2 hour ago
      .content
        p: strong Meeting
        p Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the
    .item
      .left
        .date 6:00 am
        .time: small 2 hour ago
      .content
        p: strong Meeting
        p Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the
    .item
      .left
        .date 6:00 am
        .time: small 2 hour ago
      .content
        p: strong Meeting
        p Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the


// react: test3
div(class=css.test3)
  .t404
    .head 404
    .title Page Not Found
    .content Sorry, but the page you are looking for has note been found. Try checking the URL for error, then hit the refresh button on your browser or try found something else in our app.


// react: test4
div(class=css.test4)
  h1 aaa
