.main-navbar :global {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $main-navbar-z-index;
  display: flex;
  height: $header-height;
  padding: 0 20px;
  flex-direction: row;
  background-color: white;
  border-bottom: 1px solid $nav-border-color;

  justify-content: space-between;
  align-items: stretch;
  :first-child {
    border: none;
  }
  a {
    line-height: $header-height;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-left: 1px solid $nav-border-color;

    flex-basis: 56px;
    flex-shrink: 1;
  }
  .index-icon {
    width: 122px;
    height: 24px;
  }
  .avatar {
    width: 25px;
    height: 25px;
  }
  .space {
    flex-grow: 1;
  }
}
