.main-menu :global {
  position: fixed;
  top: $header-height;
  bottom: 0;
  left: 0;
  z-index: $main-menu-z-index;
  display: flex;
  width: $menu-width;
  overflow-y: auto;
  font-size: 15px;
  color: #999;
  flex-direction: column;
  background: $main-menu-background;
  .top {
    height: 80px;
  }
  .search {
    position: relative;
    display: flex;
    height: 80px;

    justify-content: center;
    align-items: center;
    input {
      height: 29px;
      padding-left: 29px;
      border: none;
      border-radius: 50px;
      outline: 0;
      box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .2);
    }
    i {
      position: relative;
      left: 24px;
    }
  }
  h4.menu-nav {
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
  }
  ul.list {
    padding: 0;
    font-size: 1.1em;
    list-style: none;
    li {
      padding: 7.5px 0 7.5px 30px;
      cursor: pointer;
      i {
        margin-right: 5px;
        color: green;
      }
      :hover {
        color: white;
      }
      &.active {
        color: white;
        background: $main-menu-active-background;
      }
    }
  }
}
