.panel-new-process :global {
  display: flex;
  height: 183px;
  flex-direction: row;
  .left {
    position: relative;
    width: 120px;
    height: 100%;
    .img-circle {
      position: absolute;
      top: 44px;
      left: 26px;
      width: 60px;
      height: 60px;
      background: white;
      border: 5px dotted #d2d2d2;
      border-radius: 50%;
      i {
        margin: 5px 13px;
        font-size: 32px;
        line-height: 44px;
        color: #d2d2d2;
      }
    }
  }
  .right {
    position: relative;
    width: 100%;
    .add {
      position: absolute;
      top: 44px;
      left: 0;
      width: 300px;
      height: 60px;
      font-size: 1.3em;
      line-height: 60px;
      color: #d2d2d2;
      text-align: center;
      background: white;
      border: 2px dotted #d2d2d2;
    }
  }
}
