$header-height: 46px;
$menu-weight: 240px;
$main-navbar-z-index: 1000;
$main-menu-z-index: 500;
$search-block-background: #2c3748;
$main-menu-bg-background: #313e4b;

.root :global {
  .main-wrapper {
    position: relative;
    width: 100%;
    padding-left: $menu-weight;
  }
  // 对话框的左边的装饰用小三角形
  .triangle {
    &:before {
      position: absolute;
      top: 18px;
      left: -16px;
      z-index: 20;
      content: " ";
      border: 8px solid transparent;
      border-right-color: #d2d2d2;
    }
    &:after {
      position: absolute;
      top: 19px;
      left: -14px;
      z-index: 20;
      content: " ";
      border: 7px solid transparent;
      border-right-color: white;
    }
  }
}

.content-wrapper :global {
  position: relative;
  left: 0;
  width: 100%;
  min-height: 905px;
  padding-top: $header-height;
  .service-panel {
    background-color: #f8f8f8;
  }
}
.service-hosts :global {
  padding: 0;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  background: #e5edf0;
}

.main-menu-bg :global {
  position: fixed;
  top: 0;
  left: 0;
  width: $menu-weight;
  height: 100%;
  background: $main-menu-bg-background;
  border-right: 1px solid #313e48;
  border-left: none;
}

@import 'main-navbar.scss';
@import 'main-menu.scss';
@import 'service-header.scss';
@import 'service-body.scss';
@import 'panel-process.scss';
@import 'panel-new-process.scss';
