
// react: main
div(class=css.root)
  .main-wrapper
    .main-navbar
      .left
        img(src='http://qcos.qiniu.com/public/image/logo-alpha.png')
      ul.right
        li: i.fa.fa-envelope
        li 文档
        li 消息
        li: img.img-responsive(src='https://dn-qcos-gravatar.qbox.me/avatar/bd70fe014515d9d90344c06eb13bf443')
    .main-menu
      .search
        .input
          input(type='text', placeholder='搜索')
          i.fa.fa-search
      .service-nav
      .service-list
      .app-nav
      .app-list
      //=content(30, 'main-menu ')
    //.content-wrapper
    //  =content(10, 'content-wrapper ')
    .main-menu-bg
      //=content(10, 'main-menu-bg ')
