
// react: main
div(class=css.root)
  .main-wrapper
    .main-navbar
      =content(10, 'main-navbar ')
    .main-menu
      =content(30, 'main-menu ')
    .content-wrapper
      =content(10, 'content-wrapper ')
    .main-menu-bg
      =content(10, 'main-menu-bg ')
