
@import 'variable.scss';
@import 'main-navbar.scss';
@import 'main-menu.scss';
@import 'service-header.scss';
@import 'service-body.scss';
@import 'panel-process.scss';
@import 'panel-new-process.scss';

.root :global {
  // 对话框的左边的装饰用小三角形
  .triangle {
    &:before {
      position: absolute;
      top: 18px;
      left: -16px;
      z-index: 20;
      content: " ";
      border: 8px solid transparent;
      border-right-color: #d2d2d2;
    }
    &:after {
      position: absolute;
      top: 19px;
      left: -14px;
      z-index: 20;
      content: " ";
      border: 7px solid transparent;
      border-right-color: white;
    }
  }
}

.content-wrapper :global {
  position: relative;
  width: 100%;
  min-height: 905px;
  padding-top: $header-height;
  padding-left: $menu-width;
  .service-panel {
    background-color: #f8f8f8;
  }
}

.service-hosts :global {
  padding: 0;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  background: $service-hosts-background;
  background: #e5edf0;
}


@media (max-width: 700px) {
  .main-navbar {
    position: static;
  }
  .main-menu {
    position: static;
    width: auto;
  }
  .content-wrapper {
    padding-top: 0;
    padding-left: 0;
  }
}
