$header-height: 46px;
$menu-weight: 240px;
$main-navbar-z-index: 1000;
$main-menu-z-index: 500;
$search-block-background: #2c3748;
$main-menu-bg-background: #313e4b;


.root :global {
  .main-wrapper {
    position: relative;
    width: 100%;
    padding-left: $menu-weight;
    transition: all .5s;
    .main-navbar {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: $main-navbar-z-index;
      display: flex;
      height: $header-height;
      flex-direction: row;
      background: white;
      border: none;
      border-bottom: 1px solid #e8e8e8;

      justify-content: space-between;
      .left {
        display: flex;
        width: 140px;
        padding-left: 10px;
        cursor: pointer;

        justify-content: center;
        align-items: center;
        img {
          height: 25px;
        }
      }
      ul.right {
        display: flex;
        height: $header-height;
        list-style: none;
        flex-direction: row;

        justify-content: flex-end;
        li {
          display: flex;
          width: 55px;
          cursor: pointer;
          border: 1px solid #e8e8e8;

          justify-content: center;
          align-items: center;
          &:last-child {
            width: 65px;
          }
          img {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
    .main-menu {
      position: absolute;
      top: $header-height;
      left: 0;
      z-index: $main-menu-z-index;
      display: flex;
      width: $menu-weight;
      font-size: 15px;
      color: #999;
      flex-direction: column;
      .search {
        display: flex;
        height: 80px;
        background: $search-block-background;

        align-items: center;
        justify-content: center;
        .input {
          position: relative;
          width: 200px;
          line-height: 29px;
          i {
            position: absolute;
            top: 7px;
            left: 10px;
          }
          input {
            padding-left: 29px;
            border: none;
            border-radius: 50px;
            outline: 0;
            box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .2);
          }
        }
      }

      h4.menu-nav {
        padding: 0 30px;
        cursor: pointer;
      }
      ul.list {
        padding: 0;
        font-size: 1.1em;
        list-style: none;
        li {
          padding: 10px 30px;
          cursor: pointer;
          i {
            margin-right: 5px;
            color: green;
          }
          :hover {
            color: white;
          }
          &.active {
            color: #fff;
            background: #24aae3;
          }
        }
      }
    }
    .content-wrapper {
      position: relative;
      left: 0;
      width: 100%;
      min-height: 905px;
      padding-top: $header-height;
      .service-header {
        display: flex;
        height: 44px;
        line-height: 44px;
        flex-direction: row;

        flex-wrap: nowrap;
        h4 {
          width: 170px;
          font-size: 1.5em;
          i {
            margin-right: 5px;
            color: green;
          }
        }
        a {
          width: 100px;
          color: #777;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          border-left: 1px solid #e7e7e7;
          i {
            margin-right: 5px;
          }
          &.active {
            color: #24aae3;
          }
        }
      }
      .service-body {
        .pod-num {
          position: relative;
          display: flex;
          height: 73px;
          line-height: 73px;
          border-left: 3px solid #24aae3;

          align-items: center;
          justify-content: center;
          .content {
            width: 80%;
            span.num {
              font-size: 3em;
            }
            span.info {
              font-weight: 600;
            }
            i {
              position: absolute;
              top: 0;
              right: 20px;
              font-size: 1.2em;
            }
          }
        }
        .pod-network {
          display: flex;
          height: 73px;
          border-left: 3px solid #bbb;

          align-items: center;
          justify-content: center;
          td:first-child {
            padding-right: 16px;
            font-weight: 600;
          }
        }
        .pod-gates {
          position: relative;
          display: flex;
          height: 73px;
          border-left: 3px solid #f3a536;
          align-items: center;
          justify-content: center;
          a:hover {
            text-decoration: none;
            cursor: pointer;
          }
          th {
            font-weight: 600;
          }
          i.edit {
            position: absolute;
            top: 0;
            right: 20px;
            font-size: 1.2em;
          }
        }
      }
      .service-hosts{
        background: #e5edf0;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
        padding: 0;
      }
    }
    .main-menu-bg {
      position: fixed;
      top: 0;
      left: 0;
      width: $menu-weight;
      height: 100%;
      background: $main-menu-bg-background;
      border-right: 1px solid #313e48;
      border-left: none;
    }
  }
}
