.service-body :global {
  position: relative;
  display: flex;
  flex-direction: row;
  border-left: 3px solid $pod-border-left;

  justify-content: flex-start;
  align-items: stretch;
  .pod-num {
    display: flex;

    flex: 3;
    align-items: center;
    .content {
      position: relative;
      height: 60px;

      flex: 1;
    }
    span.num {
      font-size: 3em;
    }
    span.info {
      font-weight: 600;
    }
    i {
      position: absolute;
      top: 0;
      right: 20px;
      font-size: 1.2em;
    }
  }
  .pod-network {
    display: flex;
    border-left: 3px solid #bbb;

    flex: 4;
    align-items: center;
    justify-content: center;
    td:first-child {
      padding-right: 16px;
      font-weight: 600;
    }
  }
  .pod-gates {
    position: relative;
    display: flex;
    border-left: 3px solid #f3a536;

    flex: 5;
    align-items: center;
    justify-content: center;
    a:hover {
      text-decoration: none;
      cursor: pointer;
    }
    th {
      font-weight: 600;
    }
    i.edit {
      position: absolute;
      top: 0;
      right: 20px;
      font-size: 1.2em;
    }
  }
}
