$nav-border-color: #e8e8e8;
$header-height: 46px;
$menu-width: 240px;
$search-block-background: #2c3748;
$main-navbar-z-index: 1000;
$main-menu-z-index: 500;
$main-menu-bg-background: #313e4b;
$main-menu-background: #2c3748;
$main-menu-active-background: #24aae3;
$service-panel-background: #f8f8f8;
$service-hosts-background: #e5edf0;
$pod-border-left: #24aae3;
