.root {
  :global {
    .snake_game {
      header {
        padding: 0 43%;
        margin: 20px auto;
        font-size: 30px;
        font-weight: 600;
      }
      .game_body {
        width: 600px;
        height: 600px;
        margin: auto;
        background: #222;
        .cell {
          display: inline;
          float: left;
          width: 30px;
          height: 30px;
        }
        .food_cell {
          width: 24px;
          height: 24px;
          margin: 3px;
          background: #0b3;
          border-radius: 15px;
          box-shadow: 0 0 5px #0b3;
        }
        .snake_cell {
          background: #39c;
          box-shadow: 0 0 5px #39c;
        }
      }
      .game_over {
        position: fixed;
        top: 50%;
        left: 43%;
        z-index: 2;
        padding: 10px;
        font-size: 30px;
        background: rgba(215, 212, 202, .56);
      }
      button {
        position: fixed;
        top: 75%;
        left: 47%;
        z-index: 2;
        padding: 4px;
        font-size: 28px;
        background: rgba(215, 212, 202, 2.56);
      }
    }
  }
}
